<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>

  <body style="font-family: Arial, sans-serif; text-align: center">
    <hr style="height: 0.7rem; border: none; background-color: #fc3838;" />

    <div>
      <h2 style="font-weight: bold">Greetings! {{username}}</h2>
    </div>

    <div>
      <p style="margin: 0; padding: 0;">
        We noticed that you requested to reset your password. Please click the button below to reset your password.
      </p>
    </div>

    <div style="padding: 1rem;">
      <small style="padding: 1rem; font-weight: bold; text-transform: uppercase;">
        If you do not want to reset your password, please ignore this message.</small>
    </div>

    <div style="margin: 1rem;">
      <button
        style="background-color: #fc3838; border: none; padding: 0.75rem; border-radius: 0.5rem; font-weight: bold"
      >
        <a style="color: #fff; text-decoration: none; text-transform: uppercase" href={{fullUrl}}>Reset your password</a>
      </button>
    </div>

    <div style="padding: 1rem">
      <small>*** This is a system generated message.
        <span style="font-weight: bolder">DO NOT REPLY TO THIS EMAIL</span>
        ***</small>
    </div>

    <footer>
      <p>If you have any concerns, feel free to reach us at:</p>

      <p style="margin: 0; padding: 0;"><small>#1 Salcedo Village. 123 Makati, City, Philippines, 20189</small></p>
      <p style="margin: 0; padding: 0;"><small>+63 123 4567 8901</small></p>
      <p style="margin: 0; padding: 0;"><small>inquiries@expensetracker.com</small></p>

    </footer>

    <div>
      <p>
        &copy; 2024 Expense Tracker. All rights reserved.
      </p>
    </div>

    {{! <hr style="height: 5%; width: 100%; border: none; background-color: #fc3838" />
     }}
    <hr style="height: 0.7rem; border: none; background-color: #fc3838;" />
  </body>
</html>